body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

a {
	color: #007cdb;
}

ul, ol {
	margin: 0 0 1.5em;
}

ul li, ol li {
	margin: 0 0 0.5em;
}

ul {
	list-style: square;
}

.inner {
	width: 1100px;
	margin: 0 auto;
}

.light {
	font-weight: 300;
	color: #777;
}

header {
	border-top: 5px solid #000;
	border-bottom: 1px solid #ddd;
	text-align: center;
	text-transform: uppercase;
	padding: 70px 0;
	background: #f7f7f7 !important;
}

header h1 {
	font-size: 2.0em;
	font-family: 'Open Sans', sans-serif;
}

header a {
	text-decoration: none;
	color: inherit;
}

nav {
	margin: 10px 0;
	background: #f7f7f7 !important;
}

.social {
	text-align: right;
}

.social ul {
	margin-top: 25px;
}

.social a {
	font-size: 0.9em;
	color: #000;
	display: block;
	text-decoration: none;
}

article .title {
	font-size: 2.6em;
	line-height: 1.2em;
	margin-bottom: 22px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 12px;
}

article .sub-title {
	font-size: 1.8em;
	line-height: 1.2em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 12px;
}

article p {
	margin: 1em 0;
	word-spacing: 2px;
}

article h2, article h3, article h4 {
	font-weight: 700;
}

article .title a, article .sub-title a {
	text-decoration: none;
	color: inherit;
}

article blockquote {
	font-size: 1.1em;
	position: relative;
	line-height: 1.5em;
	padding-left: 1em;
	border-left: 4px solid #eee;
	color: #777;
}

.entry-content {
	line-height: 1.7em;
}

.content {
	padding-left: 1em;
}

.meta {
	font-size: 0.8em;
	margin: 1.3em 0;
	line-height: 2.0em;
	opacity: 0.7;
	padding-left: 0.5em;
	border-left: 7px solid #f7f7f7;
	box-sizing: border-box;
}

.tags {
	text-transform: lowercase;
	font-weight: bold;
}

.tags a {
	color: #999;
	text-decoration: none;
}

.title {
	font-family: 'Open Sans', sans-serif;
}

footer {
	display: block;
	min-height: 50px;
	padding: 1em;
	margin-top: 1em;
	background-color: #000;
	color: #f7f7f7;
	border-top: 1px solid #f7f7f7;
}

footer p {
	font-size: 0.7em;
	font-weight: lighter;
	margin: 0.2em 0;
}

footer a {
	color: #9ed5ff;
}

.page {
	padding: 2em 0;
}

.pagination {
	text-align: center;
	padding: 1em 0;
	font-size: 0.8em;
}

.pagination a {
	color: inherit;
	margin-right: 1em;
}

.show-more {
	padding: 1em 0;
	font-size: 0.9em;
}

.show-more a {
	color: inherit;
	margin-right: 1em;
}

code, pre {
	font-size: 0.8em !important;
	margin: 0 !important;
}

figure.code .highlight .gutter {
	display: none;
}

.post .no-shadow {
	-webkit-box-shadow: 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}

.post img {
	margin: 2px;
	-webkit-box-shadow: 0 0 15px #5c5c5c;
	-moz-box-shadow: 0 0 15px #5c5c5c;
	box-shadow: 0 0 15px #5c5c5c;
}

.archives title h1 {
	font-size: 1.6em;
}

.more-link {
	text-align: right;
	padding: 1em 0;
	font-size: 0.8em;
}

.about {
	min-height: 380px;
}

.about img {
	border-radius: 140px;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 0 1px;
	padding: 2px;
}

.desc {
	font-size: 0.8em;
	color: #999;
}

.desc p {
	line-height: 1.2em;
}

.desc a {
	margin-right: 6px;
}

.year {
	float: right;
	color: #999;
	vertical-align: middle;
	padding-top: 4px;
}

.sharing {
	padding: 1em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 80px;

}

.author {
	padding: 2em 0;
	font-size: 0.8em;
	opacity: 0.7;
	line-height: 1.2em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
		font-size: 14px;
		font-weight: 400;
	}

	article .title {
		font-size: 2em;
	}

	.meta {
		position: static;
		width: auto;
	}

	.inner {
		width: auto;
		margin: 0 20px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
	.inner {
		width: auto;
		margin: 0 15px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
	.inner {
		width: auto;
		margin: 0 15px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	.inner {
		width: auto;
		margin: 0 15px;
	}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.inner {
		width: auto;
		margin: 0 15px;
	}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	.inner {
		margin: 0 15px;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	.inner {
		width: 1100px;
		margin: 0 auto;
	}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
	.inner {
		width: 1400px;
		margin: 0 auto;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}